<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @empty_room.status %>
</p>

<p>
  <strong>Arrangement:</strong>
  <%= @empty_room.arrangement %>
</p>

<p>
  <strong>Name:</strong>
  <%= @empty_room.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @empty_room.number %>
</p>

<p>
  <strong>Leave status:</strong>
  <%= @empty_room.leave_status %>
</p>

<p>
  <strong>Day to leave:</strong>
  <%= @empty_room.day_to_leave %>
</p>

<p>
  <strong>Benefit:</strong>
  <%= @empty_room.benefit %>
</p>

<p>
  <strong>Day to enter:</strong>
  <%= @empty_room.day_to_enter %>
</p>

<p>
  <strong>Area:</strong>
  <%= @empty_room.area %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @empty_room.rent %>
</p>

<p>
  <strong>Common fee:</strong>
  <%= @empty_room.common_fee %>
</p>

<p>
  <strong>Thanks money status:</strong>
  <%= @empty_room.thanks_money_status %>
</p>

<p>
  <strong>Thanks money:</strong>
  <%= @empty_room.thanks_money %>
</p>

<p>
  <strong>Thanks money month:</strong>
  <%= @empty_room.thanks_money_month %>
</p>

<p>
  <strong>Deposit status:</strong>
  <%= @empty_room.deposit_status %>
</p>

<p>
  <strong>Deposit:</strong>
  <%= @empty_room.deposit %>
</p>

<p>
  <strong>Deposit month:</strong>
  <%= @empty_room.deposit_month %>
</p>

<p>
  <strong>Station:</strong>
  <%= @empty_room.station %>
</p>

<p>
  <strong>Parking status:</strong>
  <%= @empty_room.parking_status %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @empty_room.parking %>
</p>

<p>
  <strong>Pet:</strong>
  <%= @empty_room.pet %>
</p>

<p>
  <strong>Gas:</strong>
  <%= @empty_room.gas %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @empty_room.memo %>
</p>

<p>
  <strong>Key:</strong>
  <%= @empty_room.key %>
</p>

<%= link_to 'Edit', edit_empty_room_path(@empty_room) %> |
<%= link_to 'Back', empty_rooms_path %>
